.client {
    &__header {
        color: $color-periwinkle-gray;
        @extend %header;
    }

    &__image-box {
        text-align: center;

        img {
            width: 150px;
            border: 1px solid $color-affair;
        }
    }

}