-
    var header = '#recent clients';
    var clientList = [
        "/asset/image/client/image.png",
        "/asset/image/client/image.png",
        "/asset/image/client/image.png",
    ];


#client
.client
    .client__header=header
    .client__list
        each client, key in clientList
            .client__image-box
                img(src=client, alt=`img-${key}`)