.experience {
  &__header {
    @extend %header;
    color: $color-periwinkle-gray;
  }

  &__details,
  &__input {
    display: none;
  }

  &__details {
    border: 0.2rem solid $color-gumbo;
  }

  &__input:checked+&__title+&__details {
    display: inherit;
  }

  &__input:checked+&__title {
      .icon-plus {
          transform: rotateZ(45deg);
          pointer-events: all;
          cursor: pointer;
      }
  }

  &__title {
    background-color: $color-gumbo;
    color: $color-white;
    display: block;
    font-size: 2rem;
    padding: 2rem;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__date,
  &__company {
    font-size: 1.3rem;
    padding: 1rem;
  }

  &__date {
    font-style: italic;
  }

  &__company {
    font-weight: bold;
  }

  &__responsability {
      padding: 0.5rem 1rem;
      line-height: 1.2;

      &:nth-child(odd) {
          background-color:$color-fantasy;
      }

      &:nth-child(even) {
        background-color: $color-twilight;
    }
  }

  .icon-plus {
      float: right;
      pointer-events: none;
  }
}
