-
    var menuList = [
    {
        label: 'home',
        icon: 'home',
        link: '#landing-page'
    },
    {
        label: 'about me',
        icon: 'user',
        link: '#about-me'
    },
    {
        label: 'awards',
        icon: 'trophy',
        link: '#award'
    },
    {
        label: 'experience',
        icon: 'aircraft',
        link: '#experience'
    },
    {
        label: 'what I can do',
        icon: 'tools',
        link: '#what-can-i-do'
    },
    {
        label: 'clients',
        icon: 'briefcase',
        link: '#client'
    }];

#menu
a.menu__go-to(href="#menu")
    span.icon-menu
.menu
    .menu__list
        each menu in menuList
            a.menu__link(href=menu.link)
                span(class=`icon-${menu.icon}`)
                span.menu__label=menu.label