extends _component/layout/page

block page-config
   -
    var myTitleForGoogleSearch = 'Iulian Carnaru online CV';
    var myDescriptionForGoogleSearch = 'Made using HTML5 and CSS3';

block page-content
    include _component/landing-page/landing-page
    