extends _component/layout/page

block page-config
   -
    var myTitleForGoogleSearch = 'Iulian Carnaru online CV';
    var myDescriptionForGoogleSearch = 'Made using HTML5 and CSS3';

block page-content
    include _component/landing-page/landing-page
    include _component/about-me/about-me
    include _component/award/award
    include _component/what-can-i-do/what-can-i-do