.about-me {
  background-image: radial-gradient(ellipse,$color-geraldine, $color-terracotta);

  &__header {
    color: $color-white;
    @extend %header;
  }

  &__avatar-wrapper {
    max-width: 50%;
    margin: 1rem auto;
    border: 0.5rem solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      border: 0.5rem solid rgba(255, 255, 255, 0.2);
      top: -1.2rem;
      bottom: -1.2rem;
      left: -1.2rem;
      right: -1.2rem;
      border-radius: 50%;
    }
  }

  &__avatar {
    border-radius: 50%;
    width: 100%;
    border: 0.5rem solid #e97568;
  }

  &__full-name,
  &__title {
    color: $color-white;
    padding: 0 0.5rem 1rem;
    text-align: center;
  }

  &__full-name {
    font-size: 2.5rem;
  }

  &__title {
    font-size: 1.8rem;
  }

  &__quote,
  &__content {
    font-size: 1.5rem;
    text-align: justify;
    padding: 1rem;
    text-indent: 3rem;
  }

  &__link-list {
    text-align: center;
    padding-bottom: 1rem;
  }

  &__link {
    display: inline-block;
    width: 80%;
    font-size: 3rem;
    text-decoration: none;
    border: 0.3rem solid #7ea1a6;
    color: #7ea1a6;
    border-radius: 1rem;
    background-color: $color-white;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
  }

  &__link-description {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5;
  }


}
